// Home page styles
.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    text-align: center;
}

.welcome-text {
    font-size: 3rem;
    font-weight: 700;
    color: $primary-color;
}
